body {
  font-family: "Quicksand", sans-serif;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}
h2 {
  font-size: 48px;
}
h1 {
  font-size: 90px;
}
h3 {
  font-size: 24px;
  color: #757575;
}
.homepage-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#portfolio-link {
  max-width: 50%;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px 15px;
  transition: all 150ms ease-in-out;
}
#portfolio-link:hover {
  color: white;
  background: black;
}

@media (max-width: 596px) {
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 18px;
  }
  .about-header,
  p,
  #portfolio-link {
    text-align: center;
    display: block;
    margin: 15px auto;
  }
  p,
  #portfolio-link {
    font-size: 18px;
  }
}
