.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}
h2 {
  font-size: 48px;
}
h1 {
  font-size: 90px;
}
h3 {
  font-size: 24px;
  color: #757575;
}
.img-fluid {
  max-width: 100%;
}
#portfolio-link {
  display: block;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  padding: 20px 15px;
}
